html {
    padding: 0;
    margin: 0;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
}



#game {
    background-image: url("/img/parchment.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#questions {
    border: 2px solid black;
    width: 40%;
    height: 25%;
    background-color: white;
    border-radius: 5px 5px;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#anim {
    
    width: 40%;
    height: 40%;
    border-radius: 5px 5px;
    transition: .5s ease-in-out;
    background-repeat: no-repeat;
    background-size: contain;
    
    background-position: center; 
    display: none;
    
}

button {
    font-family: 'MedievalSharp', cursive;
}


@media screen and (max-width: 600px) {
    #anim {
        height: 60%;
    }
}














